{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
    %}
    <h3 align="center">About</h3>


<body>

    <div>
    
    <p>This project allows you to create and edit your own race card, it also allows you to view race cards created by other users.</p>

    <p>NOTE: you will not be able to edit race cards created by other users.</p>

    <p>To create your own race card and to update or delete entries in it. Sign up as a user and then click on the Create tab.</p>
    </div>   
</body>
{% endblock %}  